<footer class="site-footer">
  <div class="wrap">
    <div class="source">
      {{ page.date | date: "%Y-%m-%d" }}
      |
      <a class="permalink" href="{{ page.url | prepend: site.baseurl }}">
        Permalink
      </a>
      |
      <a class="source-link" href="{{site.github.repository_url}}/blob/master/{{page.path}}">
        Source
      </a>
      {% if page.tags %}
      | <ul class="tags">{% for tag in page.tags %}<li class="post-tag"><a href="{{ site.baseurl }}/tags/#{{ tag }}">{{tag}}</a></li>{% endfor %}</ul>
      {% endif %}
    </div>
  </div>
</footer>
