$font-base-size: 16px;
$font-color: #2f2f2f;
$header-font-color: #666;
$header-font-size: 1.0em;
$footer-font-color: $header-font-color;
//$page-background: #f9f7f1;
//$page-background: #fffefa;
$page-background: #ffffff;

//$body-font-family: 'Droid Serif', 'Minion Pro', Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
//$body-font-family: 'Droid Serif', Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
//$body-font-family: 'Droid Serif', serif;
$body-font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
//$body-font-family: 'Merriweather', serif;
$body-fixed-font-family: 'Lucida Console', Monaco, monospace;
//$headfoot-font-family: 'Merriweather Sans', sans-serif;
$headfoot-font-family: $body-font-family;

$body-font-size: 1.0em;
$h1-font-size: 1.8em;
$h2-font-size: 1.4em;
$h3-font-size: 1.3em;
$h4-font-size: 1.2em;
$h5-font-size: 1.1em;
$h6-font-size: 1.0em;


html {
  font-size: $font-base-size;
  overflow-y: scroll; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%; 
}

body{
  color: $font-color;
  background-color: $page-background;
  font-family: $body-font-family;
  font-size:($body-font-size)em;
  line-height:1.5em;
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased; */
}

h1 {
  font-size: $h1-font-size;
  font-variant: small-caps;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}


/* Tables */
dl {
  padding: 0;
  margin: 1.5em 0;
}

dt {
  float: left;
  clear: left;
  font-weight: bold;
  margin-right: 1em;
}

dt::after {
  content: ": ";
}

dd {
  margin: 0 0 1.5em 0;
  padding: 0;
}

dd p {
  margin: 0;
  padding: 0;
  width: 100%;
  clear: right;
}
