div.tags { font-size: 0.9em; color: #999;}

ul.tags {
  padding: 0;
  margin: 0;
  display: inline;
}

li.tags {
  display: inline;
  list-style: none;
}

/*
li.tags {
  display: inline-block;
  background: rgba($theme-color, 0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: $theme-color;
  font-family: $font-sans;
  font-size: 90%;
  &:before {
    content: "\f02b";
    font-family: $font-font-awesome;
    padding-right: .5em;
  }
  &:hover {
    text-decoration: none;
    background: $theme-color;
    color: $white;
  }
  @include transition(all .1s ease-in-out);  
}
*/

li.tags + li.tags:before {
    content: " ";
}

.post-tag {
    display: inline-block;
    /*border: 1px solid #ccc;*/
    /*background: rgba(230, 127, 151, 0.05); */
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.post-tag:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: .3em;
  color: #aaa;
}


.post-tag:hover {
    background: rgba(230, 127, 151, 0.25);
    border-bottom: none;
}

.post-tag a {
  border-bottom: none
}

.post-tag a:hover {
  border-bottom: none
}
