/* Tocify */
#toc-show-hide {
  height: 2em;
  width: 2em;
  background: #fdfdfd;
  background-image: url('/public/toc-button.png');
  background-size: 2em 2em;
  background-repeat: no-repeat;
  position: fixed;
  right: 0.5em;
  top: 4em;
}

.tocify {
  width: 12em;
  max-height: 100%;
  overflow: auto;
  margin-left: 1em;
  position: fixed;
  right:-12em;
  border: none;
  z-index: 1;
  top: 4em;
}

.tocify ul, .tocify li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.tocify li {
  min-height: 1.8em;
  padding-left: 0.3em;
  line-height: 1.8em;
}

.tocify ul.tocify-header { padding-top: 5px; }

.tocify a, .tocify a:visited { color:#333 } 

/* Top level header elements */
.tocify-header {
}

/* Top level subheader elements.  These are the first nested items underneath a header element. */
.tocify-subheader {
    text-indent: 0.4em;
}

.tocify-item {
    font-size:0.9em;
    padding: 0.2em;
}
.tocify-item.active {
    background: #eee;
}


/* Makes the font smaller for all subheader elements. */
.tocify-subheader li {
}

/* Further indents second level subheader elements. */
.tocify-subheader .tocify-subheader {
    text-indent:0.8em;
}

/* end tocify */
